custom/modules/AuxillerySlingModule/auxSlingLoading - Copy.sqf
custom/modules/T8SectorMilitarizationModule/sectorActivationMilitarization - Copy.sqf
custom/modules/T8SectorMilitarizationModule/sectorDeactivationDemilitarization - Copy.sqf
